<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Prediction</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <!-- link css sheet -->
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <div class="login">
        <h1>Language Prediction</h1>
    
         <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}"method="post">
            <input type="text" name="rate" placeholder="enter text" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict language</button>
        </form>
    
       <br>
       <br>
       {{ prediction_text }}
    
     </div>

    
    
</body>
</html>